body {
}

#container {
    width: 100%;
    max-width: 700px;
    margin: 2em auto;
    height: 100%;
}
.cols {
    -moz-column-count:3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count:3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
}
.game-box {
    margin-bottom: 20px;
    height:200px;
    background:#BFBFBF;
}

.gameImg {
    max-height: 20%;
    max-width: 80%;
}