@{
    ViewData["Title"] = "Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<GameStart.Models.Game>
<script>
   $.ajax({
            url: '/Games/Details',
            type: 'GET',
            dataType: 'json',
            data: { id: @ViewBag.Id },
            success: function (result) {
                if (result[0].rating && result[0].screenshots)
                {
                    var htmlString = "<div class='game-detail'>" +
                        "<img class='gameImg' src='" + result[0].screenshots[0].url.replace("t_thumb/", "") + "' />" +
                        "<h2> Game Title: " + result[0].name + "</h2>" +
                        "<h3> Rating: " + result[0].rating.toFixed(2) + "</h3>" +
                        "<h4> Summary: " + result[0].summary + "</h4><div class='collection-add'>" +
                        "</div></div>";
                }
                else {
                    var htmlString = "<div class='game-detail'>" +
                        "<h2> Game Title: " + result[0].name + "</h2>" +
                        "<h3> Rating: No Rating </h3>" +
                        "<h4> Summary: " + result[0].summary + "</h4> <div class='collection-add'>" +
"</div></div>";
                }
                // Output Game Detail to div
                $(".game-detail").html(htmlString);
            }
        });
</script>

<h1>Find Trades</h1>

<div class="find-trades game-detail" id="@ViewBag.id">

</div>

@foreach(var game in Model)
{
    <div class="user">
        <h2>@game.UserName</h2>
    </div>
}